.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 3em;
    border: 5px solid red;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        a:link {
            text-decoration: none;
        }
    }
}